h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

td {
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color: rgb(53, 67, 97);
}
button {
    min-width: 100px;
    margin-bottom: 10px;
    scale: 1.2;
    background-color: rgb(64, 59, 109);
    color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
button:hover {
    background-color: rgb(70, 65, 105);
}
.container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 800px;
    max-height: 550px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(37, 31, 82);
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    
}