h1 {
    background-color: rgb(82, 82, 82);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 50px;
}

td {
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color: rgb(53, 67, 97);
}
button {
    background-color: rgb(49, 45, 83);
    color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: rgb(70, 65, 105);
}